/* Animation for styling for ui cards */
.settings-card {
    opacity: 0;
    border: solid #123367 2px;
    width: 500px;
    padding-bottom: 10px;
    height: min-content;
    transform: translateY(50px);
    animation: fade-in-upwards 0.5s ease-out forwards;
}

.visualiser-card {
    opacity: 0;
    width: 1100px;
    border: solid #123367 2px;
    height: 865px;
    transform: translateX(50px);
    animation: fade-in-from-right 0.5s ease-out forwards;
}

.visualiser-container {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    grid-template-rows: 220px 270px 288px;
}

@keyframes fade-in-upwards {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-from-right {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Styling for battery  */
.progress-bar {
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.battery-container {
    width: 100px;
    height: 180px;
    border: 2px solid #000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.battery-level {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #39b54a;
    transition: height 0.3s ease-in-out;
}

.battery-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/* Animation for wind turbine */
#blades-1, #blades-2, #blades-3 {
    transform-origin: 227px 247px;
    transform-box: fill-box;
}

.stopped {
    animation-play-state: paused;
}

@keyframes turbine {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

/* Basic styling for card elements */
.card-header {
    color: white;
    background-color: #3F4856;
    margin-right: auto;
}

.settings-card-header {
    color: white;
    background-color: #3F4856;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    color: white;
}

.simulation-panel {
    display: block;
    text-align: center;
    gap: 0;
}

.side-bar {
    align-content: center;
    width: 160px;
    height: 100vh;
    background: #3F4856;
}

.settings-container {
    padding-top: 3%;
    display: flex;
    gap: 5%;
}


#simulate {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.navbar {
    background: #585664;
}

li {
    color: white;
}

.app {
    background: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    background-color: #585664;
}

.house-icon, .grid-manager-icon, .grid-icon, .battery-icon, .solar-icon, .turbine-icon {
    display: inline-block;
    min-width: 200px;
    text-align: center;
}


.visualiser-header {
    display: flex;
    background-color: #3F4856;
    justify-content: flex-end;
}

.message {
    background-color: #3F4856;
    background-size: contain;
    color: white;
    border: solid #123367 2px;
    box-shadow: #333333;
    text-align: center;
}


/* Button CSS by Google From https://getcssscan.com/css-buttons-examples */
.sim-start-button {
    align-items: center;
    appearance: none;
    background-color: #556374;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.sim-start-button:hover {
    background: #567fa9;
    color: #ffffff;
}

.sim-start-button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.sim-start-button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.sim-start-button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.sim-start-button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.sim-start-button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.sim-start-button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.sim-start-button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* Clock styling */
#clock {
    background: #333333;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: "Concert One", cursive;
    font-size: 30px;
    color: #eeeeee;
}

/* power request/transfer animation */

#line1, #line2, #line3, #line4, #line5, #line6 {
    transform-origin: center;
    transform-box: fill-box;
    display: block;
    opacity: 0;
    width: 10px;
    height: 10px;
}

@keyframes batteryOutLine {
    0% {
        opacity: 100%;
        transform: translate(183px, 0);
    }
    50% {
        opacity: 100%;
        transform: translate(183px, 140px);
    }
    99.99% {
        opacity: 100%;
        transform: translate(450px, 140px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes batteryInLine {
    0% {
        opacity: 100%;
        transform: translate(450px, 140px);
    }
    50% {
        opacity: 100%;
        transform: translate(183px, 140px);
    }
    99.99% {
        opacity: 100%;
        transform: translate(183px, 0);
    }
    100% {
        opacity: 0;
    }
}

@keyframes turbineLine {
    0% {
        opacity: 100%;
        transform: translate(175px, 0);
    }
    50% {
        opacity: 100%;
        transform: translate(175px, 40px);
    }
    99.99% {
        opacity: 100%;
        transform: translate(175px, 40px)
    }
    100% {
        opacity: 0;
    }
}

@keyframes solarLine {
    0% {
        opacity: 100%;
        transform: translate(183px, 0);
    }
    50% {
        opacity: 100%;
        transform: translate(183px, 140px);
    }
    99.99% {
        opacity: 100%;
        transform: translate(-100px, 140px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes gridLine {
    0% {
        opacity: 100%;
        transform: translate(80px, -140px);
    }
    50% {
        opacity: 100%;
        transform: translate(-183px, -140px);
    }
    99.99% {
        opacity: 100%;
        transform: translate(-183px, 0px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes houseLine {
    0% {
        opacity: 100%;
        transform: translate(183px, 0);
    }
    50% {
        opacity: 100%;
        transform: translate(183px, -140px);
    }
    99.99% {
        opacity: 100%;
        transform: translate(-100px,-140px);
    }
    100% {
        opacity: 0;
    }
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3F4856;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3F4856}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown{
    align-content: center;
}

.list-container {
    max-height: 200px;
    border: solid #123367 2px;
    overflow-y: scroll;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}