

/* Animation for styling for ui cards */
.settings-card {
    opacity: 0;
    width: 500px;
    padding-bottom: 10px;
    height: min-content;
    transform: translateY(50px);
    animation: fade-in-upwards 0.5s ease-out forwards;
}

.visualiser-card {
    opacity: 0;
    width: 1100px;
    height: 865px;
    transform: translateX(50px);
    animation: fade-in-from-right 0.5s ease-out forwards;
}

.visualiser-container{
    display: grid;
    grid-template-columns: 366px 366px 366px ;
    grid-template-rows: 220px 270px 288px;
}

@keyframes fade-in-upwards {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-from-right {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



/* Styling for battery  */
.progress-bar {
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.battery-container {
    width: 100px;
    height: 180px;
    border: 2px solid #000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.battery-level {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #39b54a;
    transition: height 0.3s ease-in-out;
}

.battery-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/* Animation for wind turbine */
#blades-1, #blades-2, #blades-3{
    transform-origin: 227px 247px;
    transform-box: fill-box;
}

.stopped {
    animation-play-state: paused;
}

@keyframes turbine {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

/* Basic styling for card elements */
.card-header {
    color: white;
    background-color: #3F4856;
    margin-right: auto;
}

.settings-card-header{
    color: white;
    background-color: #3F4856;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    color: white;
}

.simulation-panel{
    display: block;
    text-align: center;
    gap: 0;
}

.side-bar {
    align-content: center;
    width: 160px;
    height: 100vh;
    background: #3F4856;
}

.settings-container {
    padding-top: 3%;
    display: flex;
    gap: 5%;
}


#simulate {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
}

.navbar {
    background: #585664;
}

li {
    color: white;
}

.app {
    background: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    background-color: #585664;
}

.house-icon, .grid-manager-icon, .grid-icon, .battery-icon, .solar-icon, .turbine-icon{
    display: inline-block;
    min-width: 200px;
    text-align: center;
}


.visualiser-header{
    display: flex;
    background-color: #3F4856;
    justify-content: flex-end;
}

/* Clock styling */
#clock {
    background: #333333;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: "Concert One", cursive;
    font-size: 30px;
    color: #eeeeee;
}