

.side-bar{
  align-content: center;
  width: 160px;
  height: 100vh;
  background: #3F4856;
}

.navbar{
  background: #585664;
}

li{
  color: white;
}

.app{
  background: #D9D9D9;
}

form{
  background: #585664;
  width: 490px;
  height: 300px;
  padding-left: 40px;
  color: white;
  align-content: center;
  display:grid;
}

.h5{
  background: #3F4856;
  height: 30px;
  width: 30px;
}


